/* Подключение локальных шрифтов */

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"),
    url("../fonts/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/roboto-v20-latin_cyrillic-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/roboto-v20-latin_cyrillic-regular.ttf")
      format("truetype"); /* Safari, Android, iOS */
}
/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url("../fonts/roboto-v20-latin_cyrillic-500.woff2") format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/roboto-v20-latin_cyrillic-500.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/roboto-v20-latin_cyrillic-500.ttf")
      format("truetype"); /* Safari, Android, iOS */
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url("../fonts/roboto-v20-latin_cyrillic-700.woff2") format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/roboto-v20-latin_cyrillic-700.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/roboto-v20-latin_cyrillic-700.ttf")
      format("truetype"); /* Safari, Android, iOS */
}
/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: local("Roboto Black"), local("Roboto-Black"),
    url("../fonts/roboto-v20-latin_cyrillic-900.woff2") format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/roboto-v20-latin_cyrillic-900.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/roboto-v20-latin_cyrillic-900.ttf")
      format("truetype"); /* Safari, Android, iOS */
}
/* raleway-700 - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("../fonts/raleway-v17-latin_cyrillic-700.woff2") format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/raleway-v17-latin_cyrillic-700.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/raleway-v17-latin_cyrillic-700.ttf")
      format("truetype"); /* Safari, Android, iOS */
}

/*  Палитра цветов  */
:root {
  --primary-white-color: #ffffff;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --header-border-color: #ececec;
  --footer-color: #2f303a;
  --backgound-secondary: #f5f4fa;
  --contacts-footer: rgba(255, 255, 255, 0.6);
  --bkg-icon: #afb1b8;
  --anim-duration: 250ms;
  --anim-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.page {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}

/*  --------------- Загальне форматування по класам -------------- */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 1200px;
  /* border: 1px solid #ececec; */
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
  transition: color var(--anim-duration) var(--anim-function);
}

.flex {
  display: flex;
  align-items: center;
}
.features-container,
.work-container,
.team-container,
.clients-container {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* -------------------- Header --------------------  */

.header-container {
  display: flex;
  align-items: center;
  /* justify-content: flex-end; */
  border-bottom: 1px solid var(--header-border-color);
}
.header {
  display: flex;
  align-items: center;
}

/* --------------- Логотип ---------------  */
.logotype {
  font-family: "Raleway", serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-color);
}
.logo-header {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  color: var(--primary-text-color);
}
.logo-footer {
  color: var(--primary-white-color);
}

/* --------------- Навігація, Контакти ---------------  */
.site-nav {
  display: flex;
  align-items: center;
  margin-right: 305px;
}

.site-nav-item:not(:last-child) {
  margin-right: 50px;
}
.site-nav-link {
  position: relative;
}
.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  top: 46px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

/* Контакти хедер */
.nav-bar {
  display: flex;
  align-items: center;
}

.nav-contacts {
  display: flex;
  align-items: center;
  color: var(--secondary-text-color);
}
.nav-contacts {
  align-items: center;
}

.nav-contacts-item:not(:first-child) {
  margin-left: 30px;
}

.contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}

.nav-link:hover {
  color: var(--accent-color);
}
.nav-link:hover .contacts-icon {
  fill: var(--accent-color);
}

.site-nav,
.nav-contacts {
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav-item,
.nav-contacts-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav-item:hover,
.site-nav-item:focus,
.current {
  color: var(--accent-color);
}

/* -----------------Герой------------------- */
.hero {
  /* max-width: 1600px; */
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  background: #c4c4c4;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bkgd.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-container {
  margin: 0 auto;
  padding: 200px 0 198px;
}
.hero-title {
  margin-bottom: 28px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.button {
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color var(--anim-duration) var(--anim-function);
}

.button:hover,
.button:focus {
  background-color: var(--primary-white-color);
  color: var(--accent-color);
}

/* Особенности */
.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  text-transform: uppercase;
}

.features-title,
.team-header {
  margin-bottom: 10px;
}
.features-item {
  width: 270px;
}
.features-item:not(:first-child) {
  margin-left: 30px;
}
.features-item::before {
  display: block;
  content: "";
  height: 120px;
  margin-bottom: 30px;
  background-size: 70px;
  background-color: var(--backgound-secondary);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}
.features-item:nth-child(1)::before {
  background-image: url(../images/svg/antenna.svg);
}
.features-item:nth-child(2)::before {
  background-image: url(../images/svg/clock.svg);
}
.features-item:nth-child(3)::before {
  background-image: url(../images/svg/diagram.svg);
}
.features-item:nth-child(4)::before {
  background-image: url(../images/svg/astronaut.svg);
}

.secondary-text {
  line-height: 1.8;
  color: var(--secondary-text-color);
}
.work-list,
.team-list {
  justify-content: space-between;
}

.container.work-container {
  padding-top: 0;
}
.work-thumb {
  position: relative;
}

.work-thumb > .work-subtitle {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;

  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-white-color);
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
}

.section-work-title,
.section-team-title,
.section-clients-title {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}
.team-header {
  font-weight: 500;
}
.team-header,
.team-skill {
  font-size: 16px;
  line-height: 1.21;
}
.team-item {
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-white-color);
}
.photo-team,
.social-list {
  margin-bottom: 30px;
}
.team-skill {
  margin-bottom: 16px;
}
.section.team {
  background: var(--backgound-secondary);
}

.social-list {
  margin-right: 32px;
  margin-left: 32px;
  justify-content: center;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.social-icon {
  width: 20px;
  height: 20px;
  fill: var(--bkg-icon);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  transition: background-color var(--anim-duration) var(--anim-function);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--primary-white-color);
  transition: fill var(--anim-duration) var(--anim-function);
}

/* Постоянные клиенты */
.clients-list {
  justify-content: center;
}
.clients-item:not(:last-child) {
  margin-right: 30px;
}
.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid var(--bkg-icon);
  border-radius: 4px;
}
.client-icon {
  fill: var(--bkg-icon);
  transition: fill 1s;
}
.client-link:hover .client-icon {
  fill: var(--accent-color);
}
.client-link:hover {
  border: 1px solid var(--accent-color);
}

/* Footer */
.footer {
  background-color: var(--footer-color);
}

.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
  align-items: flex-start;
}

.footer-address {
  width: 231px;
}

.address-block {
  font-style: normal;
}
.footer-contacts {
  margin-top: 20px;
  line-height: 1.5;
  color: var(--primary-white-color);
}
.footer.contacts {
  color: var(--contacts-footer);
}

.footer-contacts li:not(:first-child) {
  margin-top: 10px;
}

.footer.adress:hover,
.footer.adress:focus,
.footer.contacts:hover,
.footer.contacts:focus {
  color: var(--accent-color);
}

.footer-social {
  width: 206px;
  padding-top: 12px;
  margin-left: 70px;
}
.footer-text {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  color: var(--primary-white-color);
  text-transform: uppercase;
}
.social-icon.footer {
  fill: var(--primary-white-color);
  background: none;
}
.social-item.footer {
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}
.social-list.footer {
  margin: 0;
}

/* Footer subscribe */

.footer-subscribe {
  padding-top: 12px;
  margin-left: 93px;
}
.form-subscribe label {
  cursor: pointer;
}

.footer-subscribe .sub-in-mail {
  width: 358px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--footer-color);
  color: var(--primary-white-color);
  transition: border-color var(--anim-duration) var(--anim-function);
  cursor: pointer;
}
.footer-subscribe .sub-in-mail:hover,
.footer-subscribe .sub-in-mail:focus {
  border-color: var(--primary-white-color);
}
.footer-subscribe .button {
  display: inline-flex;
  align-items: center;
  padding-left: 28px;
  padding-right: 28px;
  margin-left: 8px;
}

.icon-footer {
  fill: currentColor;
  margin-left: 10px;
}

/* Портфолио */

.projects-container {
  margin-top: 94px;
  margin-bottom: 94px;
}

.filters-button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-button {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  border-radius: 4px;
  border: 1px solid var(--backgound-secondary);
  background-color: var(--backgound-secondary);
  transition: background-color var(--anim-duration) var(--anim-function);
}

.filter-button:hover,
.filter-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: var(--accent-color);
}

.filter-button-item:not(:last-child) {
  margin-right: 8px;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-item {
  margin-bottom: 30px;
  width: 370px;
  border: 1px solid var(--header-border-color);
}
.portfolio-item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.project-header {
  margin-top: 20px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-category {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.87;
}
.project-header,
.project-category {
  margin-left: 24px;
  margin-right: 24px;
}
.portfolio-item:hover,
.portfolio-item:focus {
  background: var(--primary-white-color);
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* Фон картки  */
.project-thumb {
  position: relative;
  overflow: hidden;
}

.project-label {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(0, 100%);
  margin: 0;
  padding: 63px 24px;
  width: 370px;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--primary-white-color);
  font-size: 18px;
  line-height: 1.56;
  transition: transform var(--anim-duration) var(--anim-function),
    opacity var(--anim-duration) var(--anim-function);
  opacity: 0;
}

.portfolio-link:hover .project-label,
.portfolio-link:focus .project-label {
  transform: translateY(0);
  opacity: 1;
}

/* Модальне вікно */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--anim-duration) var(--anim-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  border-radius: 4px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform var(--anim-duration) var(--anim-function);
}

.modal-icon {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 8px;
  padding-top: 8px;
}

.modal-close-button {
  /* width: 30px; */
  height: 30px;
  padding: 6px;
  background-color: var(--primary-white-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: transparent;
}

.modal-close-icon {
  vertical-align: middle;
  width: 18px;
  height: 18px;
}

.modal-close-icon:hover,
.modal-close-icon:focus {
  fill: var(--accent-color);
  transition: fill 0.2s ease-in;
}

.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.block-input {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.block-input:nth-child(-n + 4) {
  margin-bottom: 10px;
}
.block-input:nth-child(5) {
  margin-bottom: 17px;
}

.block-input input {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.block-input input:hover,
.block-input input:focus {
  border-color: var(--accent-color);
  outline-color: var(--accent-color);
  cursor: pointer;
}

.block-input textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
}

.block-input textarea:hover,
.block-input textarea:focus {
  border-color: var(--accent-color);
  outline-color: var(--accent-color);
  cursor: pointer;
  transition: var(--anim-duration) var(--anim-function);
}
.block-input:hover .modal-svg {
  fill: var(--accent-color);
}

.block-input label {
  display: inline-block;
  margin-bottom: 4px;
  color: var(--secondary-text-color);
}

.input-svg {
  position: relative;
}
.modal-svg {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  pointer-events: none;
  width: 18px;
}

.form-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  line-height: 1.71;
  cursor: pointer;
}

.form-checkbox-label {
  margin-right: 5px;
  margin-left: 7px;
  color: var(--secondary-text-color);
  cursor: pointer;
}

.form-checkbox-link {
  color: var(--accent-color);
}

.form-checkbox-custom {
  width: 16px;
  height: 15px;
  background-image: url(../images/svg/icon-check.svg);
  background-size: contain;
  border: 1px solid #212121;
  /* background-color: #ffffff; */
  transition: background-color var(--anim-duration) var(--anim-function);
}

.form-checkbox-input:checked + .form-checkbox-custom {
  background-color: var(--accent-color);
  border-color: transparent;
  border-radius: 2px;
}
.modal-submit {
  width: 200px;
}
